certifi
chardet
click
cmake
decorator
dlib
face-recognition
face-recognition-models
idna
imageio
imageio-ffmpeg
moviepy
numpy
opencv-python
Pillow
proglog
requests
tqdm
urllib3
wincertstore
gunicorn
itsdangerous
Jinja2
joblib
MarkupSafe
numpy
pandas
python-dateutil
pytz
scikit-learn
scipy
six
virtualenv
Werkzeug

